@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.reveal .slide-logo {
  max-height: 4rem !important;
  padding: 15px;
}
div.callout-content  code.sourceCode {
  font-size: 16px;
  color: red;
}
div.sourceCode > pre.sourceCode {
  background-color: #eee;
}
div.downarrow {
  text-align: center;
  color: navy;
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
.reveal-viewport {
  background-color: #fdf6e3 !important;
}
div.callout {
  background-color: #fff;
}
div.centerme {
  text-align:center;
}
svg#mermaid-1 {
  max-width: 800px !important;
}
span.title-prefix {
  color: #555;
  font-size: 66%;
  font-weight: bold;
  font-variant: small-caps;
  font-family: Lato;
}
div.plotly {
  border: 15px solid white;
}
div.pagedtable-wrapper {
  background-color: white;
}
div.pagedtable-footer {
  font-size: 0.6em;
}
section.scrollable {
  padding-right: 20px;
}
div#penguins_plotly > div > div {
  overflow-x: visible;
}

/* Add a little space below h2 (which are used for slide titles)   */
.reveal h2 {
  margin-bottom: 24px;
}

/* Add classes for 'pre tagline' to slide titles: */
section.mdfav > h2::before {
  content: "Markdown Favorite:";
  display: block;
  font-size: 70%;
  color: #555;
  font-variant: small-caps;
}

section.ymlfav > h2::before {
  content: "YAML Favorite:";
  display: block;
  font-size: 66%;
  color: #555;
  font-variant: small-caps;
}

section.exfav > h2::before {
  content: "Example:";
  display: block;
  font-size: 66%;
  color: #555;
  font-variant: small-caps;
}

/* Customizations to the title slide: */

/* Put the title at the top of the slide, not half way down */
section#title-slide {
  top: 0 !important;
}

/* Change the font of the title */
h1.title {
  color: rgb(2, 71, 128);
  font-family: "League Gothic", sans-serif;
  size: 2em;
  text-transform: none;
}

/* Make the title slide subtitle bigger */
p.subtitle {
  font-size: 2em;
  margin-top: 200px;
}

