.reveal .slide-logo {
  max-height: 4rem !important;
  padding: 15px;
}
div.callout-content  code.sourceCode {
  font-size: 16px;
  color: red;
}
div.sourceCode > pre.sourceCode {
  background-color: #eee;
}
div.downarrow {
  text-align: center;
  color: navy;
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
.reveal-viewport {
  background-color: #fdf6e3 !important;
}
div.callout {
  background-color: #fff;
}
div.centerme {
  text-align:center;
}
svg#mermaid-1 {
  max-width: 800px !important;
}
span.title-prefix {
  color: #555;
  font-size: 66%;
  font-weight: bold;
  font-variant: small-caps;
  font-family: Lato;
}
div.plotly {
  border: 15px solid white;
}
div.pagedtable-wrapper {
  background-color: white;
}
div.pagedtable-footer {
  font-size: 0.6em;
}
section.scrollable {
  padding-right:20px;
}


