.reveal .slide-logo {
  max-height: 4rem !important;
  padding: 15px;
}
div.callout-content  code.sourceCode {
  font-size: 16px;
  color: red;
}
div.sourceCode > pre.sourceCode {
  background-color: #eee;
}
div.downarrow {
  text-align: center;
  color: navy;
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
