/* Set default font color for all headers */
h1 {
  color: #024780 !important;
}


h2, h3, h4, h5, h6 {
  color: #005fae !important;
}

body {
  color: #005fae !important;
}

p, li {
  color: #024780 !important;
}

/* Optional: lists */
ul li {
  color: #005fae !important;
}

/* Make all headers normal case */
.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
    text-transform: none;
}

/* Directions for when page is NOT revealjs but we want the theme to match*/
html,
body,
.page-content,
.quarto-content {
  background-color: #fdf6e3 !important;
}